persistence/http/src/main/resources/schema/infinispan-cachestore-http-config-16.2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified"
   elementFormDefault="qualified" version="1.0" targetNamespace="urn:infinispan:config:store:http:16.2"
   xmlns:tns="urn:infinispan:config:store:http:16.2" xmlns:config="urn:infinispan:config:16.2"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:infinispan:config:16.2"
              schemaLocation="https://infinispan.org/schemas/infinispan-config-16.2.xsd" />

  <xs:element name="http-store" type="tns:http-store"/>

  <xs:complexType name="http-store">
    <xs:complexContent>
      <xs:extension base="config:store">
        <xs:sequence>
          <xs:element name="authentication" type="tns:http-authentication" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                Configures authentication for HTTP requests. Use either username/password for Basic
                authentication or bearer-token for Bearer token authentication, but not both.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="base-url" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>
              The base URL of the HTTP service. Keys are appended to this URL to fetch cache entries.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="http-authentication">
    <xs:attribute name="username" type="xs:string">
      <xs:annotation>
        <xs:documentation>Username for HTTP Basic authentication.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="password" type="xs:string">
      <xs:annotation>
        <xs:documentation>Password for HTTP Basic authentication.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="bearer-token" type="xs:string">
      <xs:annotation>
        <xs:documentation>Bearer token for HTTP Bearer token authentication.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

</xs:schema>
